{% extends "_templates/base.twig" %} {% block content %}

<div class="page-header">
            <h1>Envíos <small>{{ title }}</small></h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-6">
			<a class="btn btn-primary" href="{{ constant('URL') }}envios/add">[+]
				Añadir envío</a>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-12">
			<div class="panel panel-default">
			<div class="panel-heading">Filtrado datos</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="razon" class="col-xs-2 control-label">Razón social</label>
							<div class="col-xs-10">
								<input type="text" class="form-control col-sm-10" name="razon"
									placeholder="razón social" />
							</div>
						</div>

						<div class="form-group">
							<label for="destinatario" class="col-xs-2 control-label">Destinatario</label>
							<div class="col-xs-10">
								<input type="text" class="form-control col-sm-10"
									name="destinatario" placeholder="nombre" />
							</div>
						</div>

						<div class="form-group">
							<label for="fecha" class="col-xs-3 col-sm-2 control-label">Fecha</label>
							<div class="col-xs-3">
								<input type="text" name="fcreaction" class="form-control"
									placeholder="creacion" />
							</div>
							<div class="col-xs-3">
								<input type="text" name="fentrega" class="form-control"
									placeholder="entrega" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 col-xs-offset-2">
								<button type="submit" class="btn btn-primary">Filtrar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="clearfix"></div>
	<div class="col-xs-12">
		<table class="table table-bordered table-hover">
			<tr>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td>Teléfonos</td>
				<td>Razón Social</td>
				<td>Estado</td>
				<td>Acción</td>
			</tr>
			{% for envio in envios %}
			<!-- |title devuelve una versión con mayúsculas iniciales del valor -->
			<tr>
				<td>{{ envio.NOMBRE|title }}</td>
				<td>{{ [envio.APELLIDO1,envio.APELLIDO2]|join(', ')|title }}</td>
				<td>{{ [envio.TELEFONO1,envio.TELEFONO2]|join(' / ')|title }}</td>
				<td>{{ envio.RAZONSOCIAL }}</td>
				 <!-- Estado del pedido -->
                    {% if envio.ESTADO|lower == 'e' %}
                        {% set estado = 'Enviado' %}
                    {% elseif envio.ESTADO|lower == 'd' %}
                        {% set estado = 'Devuelto' %}
                    {% else %}
                        {% set estado = 'Pendiente' %}
                    {% endif %}
				<td>{{ estado }}</td>
				<td><a class="btn btn-default"
					href="{{ constant('URL') }}envios/edit/{{ envio.ID_ENVIO }}">Editar</a>
					<a class="btn btn-danger"
					href="{{ constant('URL') }}envios/delete/{{ envio.ID_ENVIO }}">Eliminar</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-12">
		<nav>
			<ul class="pagination">
				<li class="disabled"><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
			</ul>
		</nav>
	</div>
</div>






{% endblock %}


