{% extends "_templates/base.twig" %} {% block content %}

<h3>Lista de Envíos</h3>
<div class="row">
	<div class="col-xs-12">

		<a class="btn btn-primary" href="{{ constant('URL') }}envios/set">Añadir
			envío</a>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-xs-2 control-label">Name</label>
						<div class="col-xs-10">
							<input type="text" class="form-control col-sm-10" name="name"
								placeholder="name" />
						</div>
					</div>

					<div class="form-group">
						<label for="birthday" class="col-xs-3 col-sm-2 control-label">Birthday</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" placeholder="year" />
						</div>
						<div class="col-xs-3">
							<input type="text" class="form-control" placeholder="month" />
						</div>
						<div class="col-xs-3">
							<input type="text" class="form-control" placeholder="day" />
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	<div class="clearfix"></div>
	<div class="col-xs-12"></div>
	<div class="clearfix"></div>
	<div class="col-xs-12">
		<table class="table table-bordered table-hover">
			<tr>
				<td>Nombre</td>
				<td>Apellido1</td>
				<td>Apellido2</td>
				<td>Telefonos</td>
				<td>Razón Social</td>
				<td>Acción</td>
			</tr>
			{% for envio in envios %}
			<tr>
				<td>{{ envio.NOMBRE }}</td>
				<td>{{ envio.APELLIDO1 }}</td>
				<td>{{ envio.APELLIDO2 }}</td>
				<td>{{ [envio.TELEFONO1,envio.TELEFONO2]|join(' / ') }}</td>
				<td>{{ envio.RAZONSOCIAL }}</td>
				<td><a class="btn btn-primary"
					href="{{ constant('URL') }}envios/delete/{{ envio.ID_ENVIO }}"> [-]
						Eliminar</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>






{% endblock %}


