{% extends "home/base_home.twig" %} {% block content %}
<div class="page-header">
	<h1>{{ title }}</h1>
</div>
<div class="row">
	<div class="col-xs-5">
		<div class="panel panel-primary">
			<div class="panel-heading">Envíos Pendientes</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>ID</td>
							<td>Destinatario</td>
							<td>Fecha creación</td>
							<td>Estado</td>
						</tr>
					</thead>
					{% for envio in envios %}
					<tbody>
						{% if envio.estado|lower == "p" %}
						<tr>
							<td><a href="{{ constant('URL') }}envios/edit/{{ envio.id_envio }}">{{ envio.id_envio }} </a></td>
							<td>{{ [envio.nombre,envio.apellido1, envio.apellido2]|join(' ')
								}}</td>
							<td>{{ envio.fec_creacion }}</td>
							<td class="text-center"><span class="label label-danger">PENDIENTE</span></td>
						</tr>
						{% endif %} {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="col-xs-7">
		<div class="panel panel-primary">
			<div class="panel-heading">Envíos recientes</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr></tr>
					<tr></tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<div class="col-xs-5">
		<div class="panel panel-primary">
			<div class="panel-heading">Envíos Enviados</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>ID</td>
							<td>Destinatario</td>
							<td>Fecha creación</td>
							<td>Estado</td>
						</tr>
					</thead>
					{% for envio in envios %}
					<tbody>
						{% if envio.estado|lower == "e" %}
						<tr>
							<td><a href="{{ constant('URL') }}envios/edit/{{ envio.id_envio }}">{{ envio.id_envio }} </a></td>
							<td>{{ [envio.nombre,envio.apellido1, envio.apellido2]|join(' ')
								}}</td>
							<td>{{ envio.fec_creacion }}</td>
							<td class="text-center"><span class="label label-success">ENVIADO</span></td>
						</tr>
						{% endif %} {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>





{% endblock %}
