{% extends "_templates/base.twig" %} {% block content %}

<ol class="breadcrumb">
	<li><a href="{{ constant('URL') }}home/">Home</a></li>
	<li><a href="{{ constant('URL') }}{{ tabla }}/">Usuario</a></li>
	<li class="active">{{ cabecera }}</li>
</ol>

<h1>
	<small>{{ cabecera }} {% if datos.id_envio %}#{{ datos.id_envio}} {%
		endif %}</small>
</h1>
<hr />
<div class="col-lg-8">
<form class="form-horizontal"
	action="{{ constant('URL') }}{{ tabla }}/{{ accion }}" method="POST"
	class="form-horizontal" role="form">

	<div
		class="form-group {% if errores.username|length -%} has-error {%- endif -%}">
		<label for="username" class="col-sm-2 control-label">Nombre usuario</label>
		<div class="col-sm-10">
			<input type="text" name="username" class="form-control" id="username"
				placeholder=""
				value="{{ datos.username|length ? datos.username : '' }}"
				
				{{accion|lower == 'consulta' ? 'disabled' : '' -}}> <span>{{-
				errores.username|length ? errores.username : '' -}}</span>
		</div>
	</div>

	<input type="hidden" name="id_usuario"
		value="{{ datos.id_usuario|length ? datos.id_usuario : '' }}">

	<div
		class="form-group {% if errores.email|length -%} has-error {%- endif -%}">
		<label for="email" class="col-sm-2 control-label">E-mail</label>
		<div class="col-sm-10">
			<input type="text" name="email" class="form-control" id="email"
				placeholder="" value="{{ datos.email|length ? datos.email : '' }}"
				 
				 {{accion|lower == 'consulta' ? 'disabled' : '' -}}> <span>{{-
				errores.email|length ? errores.email : '' -}}</span>
		</div>
	</div>

	{% if accion|lower == 'add_accion' %}
	<div
		class="form-group {% if errores.password_hash|length -%} has-error {%- endif -%}">
		<label for="passwor  d_hash" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" name="password_hash" class="form-control"
				id="password_hash" placeholder=""
				value="{{ datos.password_hash|length ? datos.password_hash : '' }}"
				
				{{accion|lower == 'consulta' ? 'disabled' : '' -}}> <span>{{-
				errores.password_hash|length ? errores.password_hash : '' -}}</span>
		</div>
	</div>
	{% endif %} {% if accion|lower != 'consulta' -%}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10 well">
			<button type="submit" name="{{ accion }}" class="btn btn-primary">Guardar</button>
			<a class="btn btn-default" href="{{ constant('URL') }}{{ tabla }}/index/">Cancelar</a>
		</div>
	</div>
	{% endif %}
</form>
</div>


{% endblock %}
