<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8" />
	<title>Problema 3</title>

<!-- Estilos css -->
{% block stylesheets %}
<link href="{{ constant('URL') }}assets/css/bootstrap.css"	type="text/css" rel="stylesheet" />
<link href="{{ constant('URL') }}assets/css/jquery.cleditor.css"	type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock %}


</head>
<body>

	<div class="container-fluid">
	{% block navbar %}
{% endblock %}
		
		

		<!-- Contenido será rellenado por las diferentes vistas via Twig -->
		{% block content %} {% endblock %}




		<!-- Bloque javascript -->
	</div>
    {% block javascripts %}
     <script src="{{ constant('URL') }}assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>  
        <script src="{{ constant('URL') }}assets/js/bootstrap.min.js" type="text/javascript"></script>   
         <script src="{{ constant('URL') }}assets/js/jquery.cleditor.min.js" type="text/javascript"></script>         
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>    
    {% endblock %} 
</body>
</html>

